@font-face {
  font-family: 'Raleway';
  src: URL('Raleway-Regular.ttf') format('truetype');
}

body {
  font-family: "Raleway", sans-serif;
  padding: 40px;
}

td {
	vertical-align: top;
}

a {
	color: black;
}
